'''
<br>
@Author: Ayush Prajapati<br>
@Date: 07-07-2024<br>
@Last Modified by: Ayush Prajapati<br>
@Last Modified time: 08-07-2024<br>
@Title: Python Programs on Pandas Library
<br>
'''

In [2]:
import numpy as np
import pandas as pd

## Q1
Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [15]:
def main():
    languages = np.array(['C++', 'Java', 'Python', 'Rust'])
    print(f"The orignal array is {languages}")
    languages_series = pd.Series(languages)
    print(f"The pandas series is \n{languages_series}")


if __name__ == "__main__":
    main()

The orignal array is ['C++' 'Java' 'Python' 'Rust']
The pandas series is
0       C++
1      Java
2    Python
3      Rust
dtype: object

## Q2
Python program to convert a Panda module Series to Python list and it's type.

In [8]:
def main():
    languages_dict = {
        1: 'C++',
        2: 'Java',
        3: 'Python',
        4: 'Rust'
    }
    
    print(f"The orignal dictionary is {languages_dict}")
    languages_series = pd.Series(languages_dict)
    print(f"The pandas series is \n{languages_series}")
    print(f"\nThe list is: {languages_series.tolist()}")


if __name__ == "__main__":
    main()

The orignal dictionary is {1: 'C++', 2: 'Java', 3: 'Python', 4: 'Rust'}
The pandas series is
1       C++
2      Java
3    Python
4      Rust
dtype: object

The list is: ['C++', 'Java', 'Python', 'Rust']

## Q3
Python program to add, subtract, multiple and divide two Pandas Series.

In [11]:
def series_operations(series_a, series_b):
    """
    Description: 
        This function used to perform arithmetic operations on pandas series
    Parameters:
        series_a, series_b: pandas series
    Return:
        float: add, sub, mul, div
    """
    return series_a + series_b, series_a - series_b, series_a * series_b, series_a / series_b

In [15]:
def main():
    series_a = pd.Series([1, 2, 3, 4, 5]) 
    series_b= pd.Series([6, 7, 8, 9, 10])
    add,sub,mul,div = series_operations(series_a, series_b)
    print(f"The arithemetic operation on series \n{series_a} and \n{series_b} is:\n",
          f"\nAdd:\n{add}\n\nSub:\n{sub}\n\nMul:\n{mul}\n\nDiv:\n{div} ")


if __name__ == "__main__":
    main()

The arithemetic operation on series
0    1
1    2
2    3
3    4
4    5
dtype: int64 and
0     6
1     7
2     8
3     9
4    10
dtype: int64 is:

Add:
0     7
1     9
2    11
3    13
4    15
dtype: int64

Sub:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

Mul:
0     6
1    14
2    24
3    36
4    50
dtype: int64

Div:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

## Q4
Python program to get the powers of an array values element-wise.

In [19]:
def main():
    n = int(input("Enter number of elements in the first array: "))
    arr = np.array([(int(input(f"Enter {i+1} element: "))) for i in range(n)])
    num_series = pd.Series(arr)
    print(f"\nThe orignal series is \n{num_series}\n")
    
    arr = np.array([(int(input(f"Enter {i+1} power: "))) for i in range(n)])
    power_series = pd.Series(arr)
    print(f"\nThe power series is \n{power_series}")

    power_arr = np.array([(num_series[index] ** power_series[index]) for index in range(len(num_series))])
    print(f"\nThe array raised to another array is: {power_arr}")


if __name__ == "__main__":
    main()

Enter number of elements in the first array:  5
Enter 1 element:  1
Enter 2 element:  2
Enter 3 element:  3
Enter 4 element:  4
Enter 5 element:  5

The orignal series is
0    1
1    2
2    3
3    4
4    5
dtype: int64

Enter 1 power:  2
Enter 2 power:  2
Enter 3 power:  2
Enter 4 power:  2
Enter 5 power:  2

The power series is
0    2
1    2
2    2
3    2
4    2
dtype: int64

The array raised to another array is: [ 1  4  9 16 25]

## Q5
Python program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [30]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"\nThe pandas dataframe is \n\n{exam_data_df}")
    print(f"\nThe summary of dataframe is \n\n{exam_data_df}")


if __name__ == "__main__":
    main()

The pandas dataframe is

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The summary of dataframe is

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Q6
Python program to display a summary of the basic information about a specified Data Frame and its data.

In [50]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print("\nThe summary of dataframe is: \n\n")
    print(f"\n{exam_data_df.info()},\n\nDataFrame Statistics:\n\n{exam_data_df.describe()}")


if __name__ == "__main__":
    main()

The summary of dataframe is:


<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

None,

DataFrame Statistics:

           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

## Q7
Python program to get the first 3 rows of a given DataFrame.

In [43]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"\nThe first three rows of dataframe is: \n\n{exam_data_df.head(3)}")


if __name__ == "__main__":
    main()

The first three rows of dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

## Q8
Python program to select the 'name' and 'score' columns from the following DataFrame.

In [46]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"\nThe 'name' and 'score' column of dataframe is: \n\n{exam_data_df[['name', 'score']]}")


if __name__ == "__main__":
    main()

The 'name' and 'score' column of dataframe is:

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

## Q9
Python program to select the specified columns and rows from a given dataframe.<br>
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [3]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    result = exam_data_df.loc[['b', 'd', 'f', 'g'], ['name', 'score']]
    print(f"\nThe 'name' and 'score' column of dataframe is: \n\n{result}")


if __name__ == "__main__":
    main()

The 'name' and 'score' column of dataframe is:

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

## Q10
Python program to select the rows where the number of attempts in the examination is greater than 2

In [14]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    result = exam_data_df.loc[exam_data_df['attempts'] > 2]
    print(f"\nThe dataframe where attemps is greater than two is: \n\n{result}")


if __name__ == "__main__":
    main()

The dataframe where attemps is greater than two is:

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

## Q11
Python program to count the number of rows and columns of a DataFrame.

In [12]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    row, column = exam_data_df.shape[0], exam_data_df.shape[1]
    print(f"Dataframe:\n\n{exam_data_df}\n")
    print(f"\nThe dataframe has {row} rows and {column} columns")


if __name__ == "__main__":
    main()

Dataframe:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


The dataframe has 10 rows and 4 columns

## Q12
Python program to select the rows where the score is missing, i.e. is NaN.

In [20]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    result = exam_data_df.loc[exam_data_df['score'].isnull()]
    print(f"\nThe dataframe where score is NaN: \n\n{result}")


if __name__ == "__main__":
    main()

The dataframe where score is NaN:

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

## Q13
Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [26]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    result = exam_data_df.loc[(exam_data_df['attempts'] > 2) & (exam_data_df['score'] > 15)]
    print(f"\nThe dataframe where attempts greater than two \nand score greater than 15 is: \n\n{result}")


if __name__ == "__main__":
    main()

The dataframe where attempts greater than two
and score greater than 15 is:

      name  score  attempts qualify
f  Michael   20.0         3     yes

## Q14
Python program to change the score in row 'd' to 11.5.

In [31]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}")
    exam_data_df.loc['d', 'score'] = 11.5
    print(f"\nThe updated dataframe is: \n\n{exam_data_df}")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The updated dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Q15
Python program to calculate the sum of the examination attempts by the students.

In [60]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The dataframe is: \n\n{exam_data_df}")
    
    # print(f"\nThe sum of attempts of all student is: {exam_data_df['attempts'].sum()}")
    total_attempts = 0
    for attempt in exam_data_df['attempts']:
        total_attempts += attempt
    
    print(f"\nThe sum of attempts of all student is: {total_attempts}")
 

if __name__ == "__main__":
    main()

The dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The sum of attempts of all student is: 19

## Q16
Python program to calculate the mean score for each different student in DataFrame.

In [59]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The dataframe is: \n\n{exam_data_df}\n")
    
    mean_score = exam_data_df['score'].mean()
    print(f"The mean score of all student is {mean_score}")

 
if __name__ == "__main__":
    main()

The dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The mean score of all student is 13.5625

## Q17
Python program to append a new row 'k' to data frame with given values for each column.<br>
Now delete the new row and return the original DataFrame.

In [77]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    
    new_row = {
        'name': 'Ayush',
        'score': 20,
        'attempts': 1,
        'qualify': 'yes'
    }

    # new_row = pd.DataFrame(['Ayush', 20, 1, 'yes'], columns=exam_data_df.columns, index = 'k')
    # exam_data_df = pd.concat(exam_data_df, new_row)

    exam_data_df.loc['k'] = new_row
    print(f"The dataframe after adding new row: \n\n{exam_data_df}\n")

    exam_data_df = exam_data_df.drop('k')
    print(f"The orignal dataframe after deleting row 'k': \n\n{exam_data_df}\n")

    
if __name__ == "__main__":
    main()

The dataframe after adding new row:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k      Ayush   20.0         1     yes

The orignal dataframe after deleting row 'k':

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Q18
Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [80]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)

    # sort by name in descending
    exam_data_df = exam_data_df.sort_values(by='name', ascending=False)
    print(f"Dataframe sorted in descending order by 'name': \n\n{exam_data_df}")

    # sort by score in ascending
    exam_data_df = exam_data_df.sort_values(by='score', ascending=True)
    print(f"\nDataframe sorted in ascending order by 'score': \n\n{exam_data_df}")


if __name__ == "__main__":
    main()

Dataframe sorted in descending order by 'name':

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

Dataframe sorted in ascending order by 'score':

        name  score  attempts qualify
i      Kevin    8.0         2      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no
d      James    NaN         3      no

## Q19
Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [84]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}\n")

    exam_data_df['qualify'] = exam_data_df['qualify'].map({'yes': True, 'no': False})
    print(f"The new datatype of 'qualify' column is: {exam_data_df['qualify'].dtype}")
    print(f"The updated dataframe is: \n\n{exam_data_df}\n")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The new datatype of 'qualify' column is: bool
The updated dataframe is:

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

## Q20
Python program to delete the 'attempts' column from the DataFrame.

In [89]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}\n")

    exam_data_df = exam_data_df.drop('attempts', axis = 1)
    print(f"The updated dataframe is: \n\n{exam_data_df}\n")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The updated dataframe is:

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

## Q21
Python program to insert a new column in existing DataFrame.

In [106]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}\n")

    # Method 1 by creating dictionary
    # new_column_address = {
    #     'address': ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Chennai", "Kolkata",
    #                 "Ahmedabad", "Pune", "Surat", "Jaipur"]
    # }
    # exam_data_df = exam_data_df.assign(**new_column_address)


    address = ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Chennai", "Kolkata",
                    "Ahmedabad", "Pune", "Surat", "Jaipur"]
    # Method 2
    # exam_data_df['Address'] = address 

    # Method 3
    exam_data_df.loc[:,'address'] = address
    print(f"The updated dataframe is: \n\n{exam_data_df}\n")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The updated dataframe is:

        name  score  attempts qualify    address
a  Anastasia   12.5         1     yes     Mumbai
b       Dima    9.0         3      no      Delhi
c  Katherine   16.5         2     yes  Bangalore
d      James    NaN         3      no  Hyderabad
e      Emily    9.0         2      no    Chennai
f    Michael   20.0         3     yes    Kolkata
g    Matthew   14.5         1     yes  Ahmedabad
h      Laura    NaN         1      no       Pune
i      Kevin    8.0         2      no      Surat
j      Jonas   19.0         1     yes     Jaipur

## Q22
Python program to iterate over rows in a DataFrame.

In [107]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}\n")

    print("Iterating the rows....")
    for index, row in exam_data_df.iterrows():
        print(index, row['name'], row['score'], row['attempts'], row['qualify'], sep= ", ")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Iterating the rows....
a, Anastasia, 12.5, 1, yes
b, Dima, 9.0, 3, no
c, Katherine, 16.5, 2, yes
d, James, nan, 3, no
e, Emily, 9.0, 2, no
f, Michael, 20.0, 3, yes
g, Matthew, 14.5, 1, yes
h, Laura, nan, 1, no
i, Kevin, 8.0, 2, no
j, Jonas, 19.0, 1, yes

## Q23
Python program to get list from DataFrame column headers.

In [111]:
def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 
                 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data_df = pd.DataFrame(exam_data, index = index_labels)
    print(f"The orignal dataframe is: \n\n{exam_data_df}\n")

    print(f"The list of column header is: {list(exam_data_df.columns)}")


if __name__ == "__main__":
    main()

The orignal dataframe is:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

The list of column header is: ['name', 'score', 'attempts', 'qualify']